.outer {
  border: 5px solid black;
}
.box {
  padding: 10px 0 10px 0;
  /*width: calc(20% - (10px + 10px));width: calc(20% - 10px + 10px);width: calc(100% + 10px);*/
  width: calc(100% - 30px);
  background-color: rebeccapurple;
  color: white;
}